<html>
<body>
  <h1> Events and ngFunctionalities</h1>
  <button [disabled]="b_disable"> Send </button>
  <button (click)="onClick()"> Activate </button>
  <p> The name is: {{main_name}}</p>
  <input type="text" max="10" required [(ngModel)]="main_name" #name_input="ngModel"/>
  <p> Name validity : {{name_input.valid}} </p>
  <p *ngIf="main_name == 'BlackFire'; else nameBlock"> WELCOME BLAKFIRE </p>
  <ng-template #nameBlock>
    <p> Welcome whoever you are</p>
  </ng-template>
  <hr/>

  <h1> Hello World </h1>
  <h2> My nickname is {{person.name}}, and i'm {{person.age}} years old </h2>
  <progress [max]="person.num_semesters" [value]="person.my_semester"></progress>
  <hr/>

  <img class="img" [src]="img" alt="image">
  <hr/>

  <h1> Some Stands </h1>
  <input type="text" [(ngModel)]="new_stand">
  <button (click)="add_stand()"> Add {{new_stand}} </button>

  <ul>
    <li *ngIf="stands.length == 0"> NO HAY STANDS GUARDADOS </li>
    <li *ngFor="let stand of stands; index as i">
      {{i + 1}} - {{stand}}
      <button (click)="delete_stand(i)">delete</button>
    </li>
  </ul>
  <hr/>

  <h2> Some Wojaks </h2>
  <div class="wojaks-grid">
    <div *ngFor="let jak of wojaks">
      <img [src]="jak.image" [alt]="jak.name">
      <h3> {{jak.name}} </h3>
      <p> {{jak.price}}$ </p>
    </div>

  </div>
  <hr/>

</body>
</html>
